@charset "UTF-8";

/* 초기화 css */

*{
	margin: 0;
	padding: 0;
	border: 0;		
}

a{
	text-decoration: none;
	color:black;
}

li{
	list-style:none;
}



header {
	width:100%;
	margin : 0 auto;
	text-align:center;	 	
}

header #lnb {
	width: 100%;
	text-align:center;
	margin: 0 auto;
	overflow:hidden;	
	background-color: #f7c377;
	position:fixed;
	left:0; top:0;
	z-index: 9999;
}

#lnb ul{
	float:right;
	overflow:hidden;	
	margin: 0 auto;		
    margin-right: 5%;
}

#lnb ul li{	
	float:left;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:1.1em;			
	
}

#lnb ul li{	
	
	font-size: 17px;	
	color:black;
	font-weight:bold;
}

#lnb ul li a{	
	font-size: 15px;	
	color:white;
}


header #logo{
	
	text-align:center;
    margin-top: 70px;
}

header #logo img{
	width:300px;
	height:auto;
}

#gnb {	
	width:1300px;
	text-align:center;
	margin:20px auto;	
}

#gnb ul{
	overflow:hidden;	
	margin: 0 auto;
	border:1px solid gray;	
}

#gnb ul li{	
	float:left;
	width:140px;
	font-size:1.1em;	
	border:1px solid gray;
	margin: 8px 10px;
	height: 35px;
    line-height: 35px;	
}