@charset "UTF-8";

footer{	
	width:100%;
	background-color:#f7c377;
	text-align:center;	
}

footer #footer_info{
	width:80%;
	overflow:hidden;
	postion:relative;	
	margin: 15px auto;
	font-size: 17px;
    letter-spacing: 2px;
	
}

footer #footer_info div{
	float:left;
	width:33.3%;
}

footer #footer_info div p:nth-child(1){
	margin: 20px 0;
	font-weight: bold;
}

footer #footer_bottom{	
	height: 45px;
    line-height: 45px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}